*bed
*bim
*fam
*log
*~
\#*
*nosex
*.pgen
*.bgen
*.bgi
*graf_estimates*
*graf_pop
run_*
*GRAF*
*European*
*African*
*East*
*Hispanic*
*South*
*Other*
*relatedness.txt
*fpg
*Omni*
*Oncoarray*
*GSA*
phenotypes*
*txt
ldsc/*
*gz
*tbi
liftOver*
configure
config.status
*trs
*/testing/Makefile
Makefile.in
autom4te.cache
build-aux
*.m4
globus/*
results
export_plots
export_results
*.o
*.out
tmp*
*png
core.*
shared-source/fileinterface