*bed
*bim
*fam
*log
*~
\#*
*nosex
*.pgen
*.bgen
*.bgi
*graf_estimates*
*graf_pop
run_*
*GRAF*
*European*
*African*
*East*
*Hispanic*
*South*
*Other*
*relatedness.txt
*fpg
*Omni*
*Oncoarray*
*GSA*
phenotypes*
*txt
ldsc/*
*gz
*tbi
liftOver*